@page "/api/Unidades/crear"
@inject IHttpServicio http
@using INNOBRA_ASP.Shared.DTO
@using System.Net.Http.Json
@inject NavigationManager nav
@inject MensajeService mensajeService
@using Microsoft.AspNetCore.Components.Forms

<div class="fondo"></div>
<div class="overlay"></div>

<div class="contenedor-formulario">

    <h3>Agregar Unidad</h3>

    <EditForm Model="@unidad" OnValidSubmit="Grabar">
        <DataAnnotationsValidator />

@*         <div>
            <label>Tipo de Recurso:</label>
            <InputSelect @bind-Value="unidad.Nombre" class="form-control">
                @foreach (var tipo in Enum.GetValues(typeof(CrearUnidadDTO.UnidadMedidaDTO)))
                {
                    <option value="@tipo">@tipo</option>
                }
            </InputSelect>
        </div> *@

        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
    </EditForm>
</div>

@code {
    private CrearUnidadDTO unidad = new CrearUnidadDTO();
    private List<Unidad> listaUnidad = new List<Unidad>();

    protected override async Task OnInitializedAsync()
    {
        await CargarUnidad();
    }

    private async Task CargarUnidad()
    {
        var respuesta = await http.Get<List<Unidad>>("api/Unidades");
        if (!respuesta.Error)
        {
            listaUnidad = respuesta.Respuesta;
        }
    }

    private async Task Grabar()
    {
        var httpRespuesta = await http.Post<CrearUnidadDTO>("api/Unidades", unidad);
        if (!httpRespuesta.Error)
        {
            mensajeService.Mensaje = "Unidad agregada con éxito.";
            nav.NavigateTo("/api/Unidades");
        }
        else
        {
            var errorContent = await httpRespuesta.HttpResponseMessage.Content.ReadAsStringAsync();
            mensajeService.Mensaje = $"Error: {errorContent}";
        }
    }

    private void Cancelar()
    {
        nav.NavigateTo("/api/Unidades");
    }
}
