@page "/Api/Unidades/editar/{id:int}"
@inject IHttpServicio http
@using INNOBRA_ASP.Shared.DTO
@using System.Net.Http.Json
@inject NavigationManager nav
@inject MensajeService mensajeService
@using Microsoft.AspNetCore.Components.Forms

<div class="fondo"></div>
<div class="overlay"></div>
<div class="contenedor-formulario">
    <h3>Editar Unidad</h3>

    @if (!string.IsNullOrEmpty(mensaje))
    {
        <div class="alert alert-success">
            @mensaje
        </div>
    }
    else if (!string.IsNullOrEmpty(mensajeError))
    {
        <div class="alert alert-danger">
            @mensajeError
        </div>
    }

    <EditForm Model="unidad" OnValidSubmit="Actualizar">
        <DataAnnotationsValidator />

@*         <div class="form-group">
            <label>Unidad Medida:</label>
            <InputSelect @bind-Value="unidad.Nombre" class="form-control">
                @foreach (var tipo in Enum.GetValues(typeof(EditarUnidadDTO.UnidadMedidaDTO)))
                {
                    <option value="@tipo">@tipo</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => unidad.Nombre)" />
        </div> *@

        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <button type="button" class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
    </EditForm>
</div>

@code {
    [Parameter] public int id { get; set; }
    private EditarUnidadDTO unidad = new EditarUnidadDTO();
    private string mensaje = "";
    private string mensajeError = "";

    protected override async Task OnInitializedAsync()
    {
        await CargarUnidad();
    }

    private async Task CargarUnidad()
    {
        var respuesta = await http.Get<EditarUnidadDTO>($"api/Unidades/GetById/{id}");
        if (!respuesta.Error)
        {
            unidad = respuesta.Respuesta;
        }
        else
        {
            nav.NavigateTo("/api/Unidades");
        }
    }

    private async Task Actualizar()
    {
        var respuesta = await http.Put($"api/Unidades/{id}", unidad);

        if (!respuesta.Error)
        {
            mensajeService.Mensaje = "Se actualizó con éxito la unidad.";
            await Task.Delay(500);
            nav.NavigateTo("/api/unidades");
        }
        else
        {
            mensajeError = $"Error: {await respuesta.HttpResponseMessage.Content.ReadAsStringAsync()}";
        }
    }

    private void Cancelar()
    {
        nav.NavigateTo("/api/Unidades");
    }
}
