@page "/api/Obras/crear"
@inject IHttpServicio http
@using INNOBRA_ASP.Shared.DTO
@using System.Net.Http.Json
@inject NavigationManager nav
@inject MensajeService mensajeService
@using Microsoft.AspNetCore.Components.Forms

<div class="fondo"></div>
<div class="overlay"></div>
<div class="contenedor-formulario">
    <h3>Agregar Obra</h3>

    <EditForm Model="@obra" OnValidSubmit="Grabar">
        <DataAnnotationsValidator />

        <div class="mb-3">
            <label>Nombre:</label>
            <InputText @bind-Value="obra.Nombre" />
            <ValidationMessage For="@(() => obra.Nombre)" />
        </div>

        <div class="mb-3">
            <label>Fecha de Inicio:</label>
            <InputDate @bind-Value="obra.FechaInicio" />
            <ValidationMessage For="@(() => obra.FechaInicio)" />
        </div>

        <div class="mb-3">
            <label>Fecha de Fin:</label>
            <InputDate @bind-Value="obra.FechaFin" />
            <ValidationMessage For="@(() => obra.FechaFin)" />
        </div>

        <div class="mb-3">
            <label>Imagen:</label>
            <InputFile OnChange="OnInputFileChange" />
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
    </EditForm>
</div>

@code {
    private Obra obra = new Obra();
    private List<Obra> listaObra = new List<Obra>();

    protected override async Task OnInitializedAsync()
    {
        obra.FechaInicio = DateTime.Now.Date;
        obra.FechaFin = DateTime.Now.Date;

        await CargarObra();
    }

    private async Task CargarObra()
    {
        var respuesta = await http.Get<List<Obra>>("api/Obras");
        if (!respuesta.Error)
        {
            listaObra = respuesta.Respuesta;
        }
    }

    private async Task Grabar()
    {
        var httpRespuesta = await http.Post<Obra>("api/Obras", obra);
        if (!httpRespuesta.Error)
        {
            // Si la obra se crea correctamente, establecer el mensaje
            mensajeService.Mensaje = "Obra agregada con éxito.";

            // Redirigir a la página de lista después de un breve retraso
            await Task.Delay(1500);
            nav.NavigateTo("/api/Obras");
        }
        else
        {
            // Si ocurre un error, establecer el mensaje de error
            var errorContent = await httpRespuesta.HttpResponseMessage.Content.ReadAsStringAsync();
            mensajeService.Mensaje = $"Error: {errorContent}";
        }
    }

    private void Cancelar()
    {
        nav.NavigateTo("/api/Obras");
    }

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        var imageFile = e.File;
        using (var stream = new MemoryStream())
        {
            await imageFile.OpenReadStream().CopyToAsync(stream);
            obra.Imagen = stream.ToArray(); // Guarda la imagen en byte[]
        }
    }
}
