@page "/Contacto"

<div class="fondo"></div>
<div class="overlay"></div>

<div class="contenedor-formulario">

<PageTitle>Contactos</PageTitle>

<style>
    .about-content {
        padding: 20px;
        text-align: center;
    }

    h2 {
        color: #1e88e5;
    }

    p {
        font-size: 18px;
    }
</style>

<div class="about-content">
    <h2>Tenemos estos contactos para ofrecerte...</h2>
    <p>Nuestro Gmail: InnobraConstructor@gmail.com</p>
    <p>Nuestro WhatsApp: 3512735833</p>
    <p>Para llamadas: 3518364936</p>

</div>

</div>
