@page "/Home"
@inject NavigationManager nav

<PageTitle>Home</PageTitle>

<div class="fondo"></div>
<div class="overlay"></div>

<div class="contenedor-formulario">

    <PageTitle>Sobre Nosotros</PageTitle>

    <style>
        .about-content {
            padding: 20px;
            text-align: center;
        }

        h2 {
            color: #1e88e5;
        }

        p {
            font-size: 18px;
        }

        /* Centrar la imagen */
        .contenedor-formulario img {
            display: block;
            margin: 0 auto; /* Centra la imagen */
            max-width: 100%; /* Asegura que la imagen no sobrepase el contenedor */
        }

    </style>

    <div class="about-content">
        <h2>Sobre InnObra</h2>
        <p>En InnObra, nos dedicamos a la construcción de proyectos innovadores para el futuro.</p>
        <p>Nuestra misión es ofrecer soluciones efectivas y accesibles para todos nuestros clientes, siempre con un enfoque en la calidad y la seguridad.</p>
        <p>¡Gracias por confiar en nosotros!</p>
    </div>

    <img src="/images/INNOBRA-logo.jpg" width="400" height="auto" alt="Alternate Text" />

</div>

