@page "/Login"
@inject NavigationManager NavigationManager
@inject IJSRuntime js

<h3>Iniciar Sesión</h3>

<div class="container">
    <img src="images/innobra-logo.PNG" alt="logo Innobra" class="logo" />
    <div class="formulario">
        <form @onsubmit="HandleLogin">
            <div class="username">
                <input type="email" @bind="username" placeholder=" " required />
                <label for="">Email</label>
            </div>
            <div class="username">
                <input type="password" @bind="password" placeholder=" " required />
                <label for="">Contraseña</label>
            </div>
            <input type="submit" value="Iniciar Sesión" />
        </form>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <p class="text-danger">@errorMessage</p>
        }
    </div>
</div>

<script>
    function openModal() {
        document.getElementById("modal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("modal").style.display = "none";
    }

    // Cerrar el modal si se hace clic fuera de él
    window.onclick = function (event) {
        const modal = document.getElementById("modal");
        if (event.target === modal) {
            closeModal();
        }
    }
</script>

<style>
    body {
        margin: 0;
        padding: 0;
        background: linear-gradient(150deg, #091c43, #0a265c);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

@code {
    private string username;
    private string password;
    private string errorMessage;

    private async Task HandleLogin()
    {
        // Ejemplo de autenticación básica
        if (username == "Admin" && password == "Admin")
        {
            // Redirige a la página principal o a otra página
            NavigationManager.NavigateTo("/home");
        }
        else
        {
            errorMessage = "Credenciales incorrectas. Inténtalo de nuevo.";
        }
    }
}
