<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="">INNOBRA <img src="/images/INNOBRA-logo.jpg" width="30" height="auto" alt="Alternate Text" /></a> 

        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/about">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="api/Obras">

                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gestion de Obras

            </NavLink>
        </div>

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="api/Unidades">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gestion de Unidades
            </NavLink>
        </div>

  
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://localhost:7081/swagger" target="_blank">
                <img src="images/swagger-logo.png" alt="Swagger Logo" style="width: 20px; height: 20px; margin-right: 8px;" />
                Swagger
            </NavLink>
        </div>
    </nav>

</div>

  <a class = "footer-link" href="/Contacto">Contacto</a>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
